.footer{
    background-color: rgb(34, 30, 34);
    color: white;
    font-size: 40px;
    padding-bottom: auto;
    margin-bottom: 0%;
    .preFooter{
        background-color: rgb(88, 176, 156);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 80px;
        padding-right: 130px;
        align-items: center;
        height: 4em;
        .preFooterPregunta{
            font-family: "Barlow", sans-serif;
            font-size: 50px;
            color: black;
            font-weight: bolder;
        }
        .contactanosBoton{
            text-decoration: none;
            display: flex;
            font-size: 35px;
            justify-content: space-around;
            color: white;
            font-family: "Poppins", sans-serif ;
            background-color: rgb(238, 86, 34);
            border-radius: 35px;
            width: 340px;
            text-shadow:2px 2px 3px black;
        }
    }
    .footerColumnas{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        flex-wrap: wrap;
        padding-top: 20px;
        .contactUs{
            width: 250px;
            .contactUsTitulo{
                font-family: "Paytone One", sans-serif;
                font-size: 25px;
            }
            span{
                font-size: 18px;
                font-family: "Paytone One", sans-serif;
            }
        }
        .redesSociales{
            .nuestrasRedes{
                .contactUsTitulo{
                    font-family: "Paytone One", sans-serif;
                    font-size: 25px;
                }
            }  
        }
        .copyright{
            width: 350px;
            .contactUsTitulo{
                font-family: "Paytone One", sans-serif;
                font-size: 25px;
            }
        }
    }
}
    
